:root {
    --mainColor: #252b48;
    --navbarColor: rgba(68, 80, 105, 0.96);
    --color3: rgba(68, 80, 105, 0.6);
    --mainColorLight: #445069;
    --secondaryColor: #f7e987;
    --textColor: #eee;
    --colorThree: #252b48;
}

.banner {
    background-color: var(--navbarColor);
}

.cnt-banner {
  max-width: 80%;
  margin: auto;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
margin-bottom: 8rem;
}

.carousel {
    max-width: 80%;
    margin: auto;
}

.i-banner {
    font-size: 3rem;
    color: var(--colorThree);
    font-weight: bold;
}

.row {
    --bs-gutter-x: 0rem !important;
}

@media only screen and (max-width: 1024px) {
    .row {
        --bs-gutter-x: 0rem !important;
    }

    .i-banner {
        font-size: 1.5rem;
    }
}